/* Stylesheet */
html{
    padding: 15px;
    background-color: rgb(153, 196, 186);
}

body{
    text-align: center;
    width: 600px;
    margin: auto;
    background-color: rgb(194, 232, 245);
    padding: 15px;
}

div{
    width: 500px;
    height: 120px;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
}

button{
    padding: 25px;
}